.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}



.botonesHeader {
    margin-left: 120px;
}

.botonInicio,
.botonTeleca,
.botonStrato {
    margin-right: 60px;
}

.botonInicio,
.botonTeleca,
.botonStrato,
.botonJaguar {
    padding: 10px;
    color: #447CDD;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.botonesHeader button:hover {
    background-color: #447CDD;
    color: white;
}