.card{
    width: 250px;
    margin-top: 40px;
    margin-bottom: 60px;
    transition: all 0.4s;
}

.card:hover{
    transform: scale(1.1);
}

.card-img-top{
    padding: 10px;
}

.card-body h5{
    margin-top: 30px;
    margin-bottom: 30px;
}

.linkCard{
    text-decoration: none;
    color: #000000;
}